<h1>Student Form</h1>

<%= form_for (@student) do |f| %>
   <%= f.label :first_name %><br>
   <%= f.text_field :first_name %><br>
   <%= f.label :last_name %><br>
   <%= f.text_field :last_name %><br><br>
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   <%= f.submit %>
<% end %>

