<h1>Editting Form For School Class</h1>


<%= form_for @school_class do |c| %>
   <%= c.label "Class Title:" %><br>
   <%= c.text_field :title %><br>
   <%= c.label "Class Room Number:" %><br>
   <%= c.text_field :room_number %><br>
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   <%= c.submit "Update School class"%>
<% end %>